<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Erreur <%= num_erreur %></title>
    <link rel="icon" type="image/svg" href="icon/icon-onglet.svg" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/erreur.css">
</head>

<body>
    <div class="content">
        <hr>
        <h1>Erreur <%= num_erreur %></h1>
        <h2><%= message %></h2>
        <a alt="Vers accueil" href="index">Retourner à l'accueil</a>
        <hr>
    </div>
</body>

</html>