<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Accueil</title>
    <link rel="icon" type="image/svg" href="icon/icon-onglet.svg" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/projet-page.css">
</head>

<body>
    <div id="top-page"></div>

    <noscript>
        <p>Javascript est désactivé sur votre navigateur ! Cela risque de nuire à votre expérience sur le site !</p>
    </noscript>

    <header>
        <div class="header-titre">
            <div class="header-titre-content">
                <h1>BALLEJOS Lilian</h1>
                <h2>Etudiant en Informatique</h2>
            </div>
        </div>

        <!-- Nav Ordi -->
        <div class="header-nav">
            <nav>
                <div class="element-nav">
                    <a class="element-nav-content" title="Accueil" href="index">
                        <p>
                            <img src="icon/home.svg" alt="Lien vers page d'Acceuil" />
                            Retour à l'Accueil
                        </p>
                    </a>
                </div>
            </nav>
        </div>

        <!-- Nav Mobile -->
        <div id="nav-mobile">
            <a href="index">
                <div class="nav-mobile-img">
                    <img src="icon/home.svg" alt="Retour à l'accueil" />
                </div>
                <div class="nav-mobile-txt">
                    <h3>Retour à l'accueil</h3>
                </div>
            </a>
        </div>

    </header>

    <div class="annonce">
        Site en cours de Développement: dernière mise à jour le 11/04/2022
    </div>

    <!-- Info projet -->
    <div class="section2 section-commun">
        <div class="sec-gauche">
            <div class="grand-titre">
                <h1>Projet numero <%= projet_num %></h1>
            </div>
        </div>

        <div class="sec-droite">
            <div class="banniere-projet">
                <img src="img/projet/test.png" alt="Banniere projet A" />
            </div>
            <div class="contenu">

                <h2>Présentation du projet</h2>
                <hr>
                <p>
                    Soon
                </p>
            </div>

            <div class="contenu">

                <h2>Language utilisé</h2>
                <hr>
                <p>
                    Soon
                </p>
            </div>

            <div class="contenu">

                <h2>Explication</h2>
                <hr>
                <p>
                    Soon
                </p>
            </div>

            <div class="contenu">

                <h2>Le code</h2>
                <hr>
                <p>
                    Soon
                </p>
            </div>

            <div class="contenu">

                <h2>Infos complémentaires</h2>
                <hr>
                <p>
                    Soon
                </p>
            </div>
        </div>
    </div>

    
    <!-- Footer -->

    <footer>
        <a href="mention" alt="Vers les mentions">Mentions Légales </a>
    </footer>

    <!-- Fleche -->

    <div id="fleche-top" title="Retour vers le haut"><img src="icon/arrow-circle-up.svg"
        alt="scroll vers le haut de page" /></div>

    
    <script src="js/jquery.js"></script>
    <script src="js/scroll.js"></script>
</body>

</html>